

.footer-container 
{
    background-color: #8A0000; 
    color: #fff; 
    padding: 20px; 
    text-align: center;
    margin-top: 20px;
}
  
  .social-icons
{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
  
  .social-icons a 
  {
    color: #fff; 
    margin: 0 10px; 
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover 
  {
    color: red; 
  }
  
  .love-by-CodeCell
  {
    font-family: Inter;
    margin: 0;
    padding: 0;
  }

  @media (max-width:800px) 
  {
    .social-icons
    {
      justify-content: center;
    }
  }