

.footer-container 
{
    background-color: #8A0000; 
    color: #fff; 
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: flex;
   
  
}
  
.footer-space
{
  width: 25%;
}

.footer-content
{
  width: 50%;
  display: flex;
  flex-direction: column;

}

.location
{
  display: flex;
  justify-content: center;
  align-items: center;

}

.location-link
{
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #FFF;
  padding: 20px;
}

.email
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-link
{
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #FFF;
  padding: 20px;
}

.footer-socials
{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.love-by-CodeCell
{
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #FFF;
  margin-top: 15px;
  padding: 10px;
}

.footer-contact
{
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;

}

.footer-icons
{
  display: flex;
  gap: 15px;
  flex-direction: row;
}

@media (max-width:1000px) 
{

  .footer-socials
  {
    width: 100%;
    margin-bottom: 15px;
    order: -1;
    border-bottom:1px solid white ;
    margin-bottom: 15px;
    padding-bottom: 15px ;
    padding-top: 15px ;
  }

  .footer-content
  {
    width: 100%;
    
   
  }

  .footer-container
  {
    flex-direction: column;
  }
}


 