
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media (min-width:900px) {
    
.design-box
{
    margin: 0;
}
.Datazen_logo
{
    width: 100%;
    height: 419px;
    margin-top: 75px;
    z-index: 5;
    margin-bottom: 220px;
    display: block;
    
}
.layer-1
{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    overflow: hidden;
    
}
.layer-2
{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 0;
    overflow: hidden;
}
.layer-3
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: -1;
    /* display: none; */

}


}

@media  (max-width:1060px) 
{
    .Datazen_logo
    {
        width: 310px;
        height: 300px;
        margin-top: 110px;
        margin-bottom: 150px;
        
    }

    .layer-1,.layer-2,.layer-3
    {
        display: none;
    }
}