.teammate-img
{
    height: 164px;
    width: 164px;
    border-radius: 50%;
    margin: 0;
}
.teammate-name
{
    margin: 0;
    padding: 0;
}
.teammate-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 164px;
    
}

.team-portfolio-icon
{
    display: flex;
    gap: 25px;
}

.teammate-designation
{
    margin: 0;
    padding: 0;
}

.hello
{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}

/* Carousel Container */
.carousel-container {
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the carousel horizontally */
    padding: 20px; /* Add padding for spacing */
  
    /* Optional: Add a border and box shadow for styling */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Carousel Slide */
  .carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5; /* Background color for each slide */
  }
  
  /* Image in Carousel Slide */
  .carousel .slide img {
    max-width: 100%; /* Make sure the image fits within the slide */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Caption Text in Carousel Slide */
  .carousel .slide .legend {
    font-size: 18px; /* Caption font size */
    color: #333; /* Caption text color */
    margin-top: 10px; /* Add spacing between image and caption */
  }
  